.global-loading{
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashed-loading {
    position: relative;
    height: 50px;
}

.dashed-loading:after,
.dashed-loading:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dashed-loading:before {
    z-index: 5;
    border: 3px dashed #93EBFD;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-animation: dashed 1s linear infinite;
    animation: dashed 1s linear infinite;
}

.dashed-loading:after {
    z-index: 10;
    border: 3px solid #93EBFD;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-animation: dashed 1s ease infinite;
    animation: dashed 1s ease infinite;
}

@keyframes dashed {
    to {
        transform: rotate(360deg);
    }
}